on:
  release:
    types: [created]

jobs:
  release-binaries:
    name: release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin]
        goarch: [amd64, arm64, arm]
        exclude:
          - goos: darwin
            goarch: arm
    steps:
    - uses: actions/checkout@v3
    - uses: wangyoucao577/go-release-action@v1.49
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        goversion: 1.22
        binary_name: can2mqtt
        compress_assets: false
        project_path: src
      env:
        CGO_ENABLED: 0
